body {
  margin: 0;
  font-family: "Noto Sans KR", "Helvetica Neue", Helvetica, sans-serif;
}

/* 소개 구획 */
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;
}

h2 {
  margin-bottom: 20px;
}

/* 프로젝트 구획 */
.project-section {
  padding: 50px;
  text-align: center;
}

.project-list .project-item {
  margin-bottom: 30px;
}